/* Colors and fonts */
body {
	background: #142850;
	color: #0c7b93;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: lighter;
	width: 700px;
    margin: 50px auto;
	}
h1, h2, h3{
	font-family: 'Montserrat Subrayada', sans-serif;
	}
h1 {
	color: #142850;
	font-size: 35px;
	font-weight: 900;
	}
h2 {
	color: #27496d;
	font-size: 20px;
	font-weight: 500;
	}
a {
	text-decoration: none;
	color: #142850;
	font-weight: 600;
	font-size: 15px;
	font-family: 'Montserrat Subrayada', sans-serif;
	}
a:hover { 
	color: #f1f1b0;
	}
div {
	background: white;
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 6px;
	}
.container {
	width: 700px;
	margin: 40px auto;
	}

@media (max-width: 760px) { 
	.container { 
		width: 600px
		}
	}

@media (max-width: 500px) { 
	.container { 
		width: 400px;
		}
	}
.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 6px;
	margin: 20px;
	text-align: center;
	}
.img-circle {
	border-radius:50%;
	width: 150px; 
	}
.btn-blue {
	background-color: #142850;
	color: white;
	padding: 10px 19px;
	border-radius: 6px;
	}
.btn-blue:hover {
	background-color: #142850;
	color: white;
	}
.list-inline {
	list-style: none;
	padding-left: 0px;
	}
.list-inline li {
	display: inline;
	padding: 10px;
	}
.list-inline i {
	font-size: 50px;
	color: rgb(180, 180, 180);
	}
.list-inline i:hover {
	font-size: 50px;
	color: black;
	}
#introduction p {
	margin-bottom: 40px;
	}
